requests
blinker
cachelib
click
config
cs50
Flask
Flask-Mail
Flask-Session
greenlet
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
sqlparse
termcolor
Werkzeug

# config.py
# __pycache__
# .ipynb_checkpoints